/* GENERAL */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  color: #222;
}

/* ==========================
   HEADER / NAVBAR
========================== */
.header {
  background-color: #444;
  color: rgb(224, 224, 53);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo h1 {
  margin: 0;
  font-size: 30x;
  letter-spacing: 1px;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin-left: 18px;
  font-size: 20px;
  padding: 8px 12px;
  border-radius: 6px;
  transition: 0.3s;
}

.navbar a:hover {
  background-color: #444;
}

.navbar a.active {
  background-color: #444;
  font-weight: bold;
  color: rgb(224, 224, 53);
}



.join-btn {
  background-color: rgb(224, 224, 53);
  font-weight: bold;
}

.join-btn:hover {
  background-color:  rgb(224, 224, 53);
}



/* PAGE HEADER */
.page-header {
  background-color: #444;
  color: white;
  text-align: center;
  padding: 55px 20px;
}

.page-header h2 {
  margin: 0;
  font-size: 36px;
}

.page-header p {
  margin-top: 10px;
  font-size: 16px;
  opacity: 0.9;
}

/* CONTAINER */
.container {
  width: 85%;
  margin: auto;
  padding: 40px 0;
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: center;
}

/* CONTACT BOX */
.contact-box {
  background-color: white;
  padding: 25px;
  width: 500px;
  border-radius: 12px;
  box-shadow: 0px 0px 10px #444;
}

.contact-box h2 {
  margin-top: 0;
}

/* FORM */
.contact-form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.contact-form label {
  margin-top: 12px;
  font-weight: bold;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  margin-top: 6px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 15px;
}

.contact-form textarea {
  height: 120px;
  resize: none;
}

.contact-form button {
  margin-top: 20px;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: rgb(224, 224, 53);
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.contact-form button:hover {
  background-color: rgb(224, 224, 53);
}

/* INFO BOX */
.info-box {
  background-color: white;
  padding: 25px;
  width: 350px;
  border-radius: 12px;
  box-shadow: 0px 0px 10px #444;
}

.social-links {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.social-links a {
  text-decoration: none;
  background-color: #444;
  color: white;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  transition: 0.3s;
}

.social-links a:hover {
  background-color: #333;
}

/* FOOTER */

  
  footer {
  background-color: #444; 
  color: rgb(224, 224, 53);
  text-align: center;
  padding: 15px;
  margin-top: 30px;
  font-size: 14px;
}