/* ==========================
   GENERAL SETTINGS
========================== */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  color: #222;
}

/* ==========================
   HEADER / NAVBAR
========================== */
.header {
  background-color: #444;
  color: rgb(224, 224, 53);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo h1 {
  margin: 0;
  font-size: 30x;
  letter-spacing: 1px;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin-left: 18px;
  font-size: 20px;
  padding: 8px 12px;
  border-radius: 6px;
  transition: 0.3s;
}

.navbar a:hover {
  background-color: #444;
}

.navbar a.active {
  background-color: #444;
}



.join-btn {
  background-color: rgb(224, 224, 53);
  font-weight: bold;
}

.join-btn:hover {
  background-color:  rgb(224, 224, 53);
}


/* ==========================
   HERO SECTION
========================== */

.video-hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* VIDEO ARKADA */
.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

/* DARK OVERLAY */
.video-hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.5);
  z-index: 1;
}

/* YAZI + BUTON KATMANI */
.overlay {
  position: absolute;
  z-index: 2;   /* 🔥 KRİTİK NOKTA */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* BAŞLIK */
.overlay h1 {
  color: #bdbdbd;
  font-size: 70px;
  margin-bottom: 20px;
}

/* BUTON */
.cta-btn {
  display: inline-block;
  background:  rgb(224, 224, 53);
  color: #444;
  padding: 15px 35px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 8px;

  position: relative;
  z-index: 3; /* 🔥 buton garanti en üst */
}

.cta-btn:hover {
  background: #ffcc00;
  transform: scale(1.05);
}

/* ==========================
   CARD DESIGN
========================== */
.card {
  background-color: white;
  padding: 25px;
  margin-bottom: 30px;
  border-radius: 12px;
  box-shadow: 0px 0px 10px  #474545;
}
.card h2 {
  margin-top: 0;
  font-size: 26px;
  color: #474545;
}

/* ==========================
   GALLERY
========================== */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.gallery img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.gallery img:hover {
  transform: scale(1.03);
}

body{
    font-family: Arial, sans-serif;
    text-align: center;
    background: #f2f2f2;
}

/* Small image */
.small-image{
    width: 300px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.small-image:hover{
    transform: scale(1.03);
}


/* Modal background */
.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #444;

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    visibility: hidden;

    transition: 0.3s;
}
/* Open modal when targeted */
.modal:target{
    opacity: 1;
    visibility: visible;
}

/* Large image */
.modal img{
    max-width: 80%;
    max-height: 80%;
    border-radius: 12px;
    box-shadow: 0 0 20px #444;
}

/* Close button */
.close{
    position: absolute;
    top: 80px;
    right: 35px;
    font-size: 40px;
    color: white;
    text-decoration: none;
}
  
.photo {
  display: flex;
 flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}
.photo {
  width: 300px;   /* resimle aynı genişlik */
  text-align: center;
}
.photo {
  display: flex;
  flex-direction: column;  /* 👈 önemli nokta */
  align-items: center;
  width: 300px;
}


.photo p {
  margin-top: 8px;
  font-weight: bold;
  font-size: 16px;
  color: #222;
}
/* ==========================
   FOOTER
========================== */
.footer {
  background-color: #444; 
  color: rgb(224, 224, 53);
  text-align: center;
  padding: 15px;
  margin-top: 30px;
  font-size: 14px;
}